/**
 * Avraam Mavridis
 *
 * Small grid classes
 */
/** Reset styles **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body, html{
	height: 100%;
}

html{
	font-size: 62.5%;
}

body{
	font-size: 1.6rem;
	line-height: 1.625; /* $line-height-base ÷ $fontbase */
}

h1,
h2 {
    font-size: 2.6rem;
    line-height: 1; /* $line-height-base ÷ 26 */
}

h3,
h4 {
    font-size: 1.8rem;
    line-height: 1.444 /* $line-height-base ÷ 18 */
}

/** Grid **/
 .row {
     display: flex
 }
 .col {
     flex: 1
 }
 @media(max-width:48em) {
     .row {
         flex-direction: column
     }
     .col {
         flex: 0 0 100%
     }
 }
 .col-tenth {
     flex: 0 0 10%
 }
 .col-fifth {
     flex: 0 0 20%
 }
 .col-quarter {
     flex: 0 0 25%
 }
 .col-third {
     flex: 0 0 33.3333334%
 }
 .col-half {
     flex: 0 0 50%
 }

/**
 *  Classes to center an element vertically and horizontaly in the center
 */
 .center-container{
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
   min-height: 24em;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
 }

 .center-item{
   -webkit-box-flex: 0;
   -webkit-flex: none;
   -ms-flex: none;
   flex: none;
 }

 /**
  * Center content of flex in the center
  */
 .justify-content-center{
	 justify-content: center;
 }
